html {
    height: 100%;
}

body {
    background: url('/media/background_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #152232;
    font-family: 'Playfair Display', serif;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-img {
    max-width: 15em;
    max-height: 7.5em;
}

.search-bar {
    border-radius: 20px;
}

.search-button {
    border-radius: 0px 20px 20px 0px !important;
}

.nav-font{
    text-transform: uppercase;
}

.header-font {
    margin-top: 1em;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    font-size: 36px;
}

.site-blurb {
    margin-top: 1em;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    font-weight: 900;
    font-size: 82px;
}

.shop-now-button {
    background-color: #000;
    color: #5ebc67;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.overlay-product-detail {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

hr {
    background-color: #fff;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}