html {
    height: 100%;
}

body {
    background: url('/media/background_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #152232;
    font-family: 'Playfair Display', serif;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-img {
    max-width: 15em;
    max-height: 7.5em;
}

.search-bar {
    border-radius: 20px;
}

.search-button {
    border-radius: 0px 20px 20px 0px !important;
}

.nav-font{
    text-transform: uppercase;
}

.header-font {
    margin-top: 1em;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    font-size: 36px;
}

.delivery-message {
    background-color: #000;
}

.container {
    margin-bottom: 3em;
}

.product-detail-header-font {
    margin-top: 2em;
    color: #000;
    text-shadow: 1px 1px 1px #000;
    font-size: 36px;
    text-decoration: underline solid black;
}

.product-detail-font {
    color:#000;
    font-size: 22px;
    font-weight: 700;
}

.img-fluid {
    height: 100%;
}

.product-img-wrapper {
    height: 15rem;
    overflow: hidden;
}

.product-detail-img-wrapper {
    height: 50%;
}

.site-blurb {
    margin-top: 1em;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    font-weight: 900;
    font-size: 4em;
}

.shop-now-button {
    background-color: #000;
    color: #5ebc67;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.overlay-product-detail {
    height: 100%;
    width: 80%;
    top: 0;
    left: 10%;
    position: fixed;
    background: rgba(255,255,255, 0.9);
    z-index: -1;
}

hr {
    background-color: #fff;
}

footer {
    width: 100%;
}

.social-link {
    font-size: 36px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}