<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="all-articles-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Date</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="{% url 'articles' %}" class="dropdown-item">All Articles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=flower" class="dropdown-item">Flowers</a>
                <a href="{% url 'products' %}?category=fruit" class="dropdown-item">Fruit</a>
                <a href="{% url 'products' %}?category=vegetable" class="dropdown-item">Vegetables</a>
                <a href="{% url 'products' %}?category=equipment_and_tools" class="dropdown-item">Equipment and Tools</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>