<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-articles-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Date</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Articles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flowers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flowers-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">All Flowers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fruit-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fruit
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fruit-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">All Fruit</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="vegetables-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Vegetables
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vegetables-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">All Vegetables</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-and-tools-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Equipment and Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flowers-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">All Equipment and Tools</a>
            </div>
        </li>
    </ul>
</div>